<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dizenco-App</title>
    <link rel="shortcut icon" href="/static/images/cropped-logo_dizenco_circle-192x192.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a6facbd9da.js" crossorigin="anonymous"></script>
    <link href="/static/css/user/user_bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/user/user_dashboard.css" rel="stylesheet">
  </head>
  <body>